@charset "UTF-8";
*{
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to left, rgb(179, 95, 179), rgb(57, 57, 151));
}
header{
    text-align: center;
    color: white;
    font-size: 2.5em;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.493);
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
  
}
div{
    text-align: center;
    padding: 10px;
}
footer{
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-style: italic;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.493);
}